<!-- Photo grid -->
<div class="w3-row-padding">
	<div class="w3-padding-16 w3-center">
    <h2>Image selection</h2>
  </div>
	<div class="w3-panel w3-center w3-border w3-round-xlarge">
		<p class="w3-padding-16">Click the image to select for encoding:</p>
	</div>
	<br>
	<div class="w3-third">
		<img #img1 src={{image1}} style="width:100%" (click)="onClickGet(img1.src)">
		<img #img2 src={{image2}} style="width:100%" (click)="onClickGet(img2.src)">
		<img #img3 src={{image3}} style="width:100%" (click)="onClickGet(img3.src)">
	</div>

	<div class="w3-third">
		<img #img4 src={{image4}} style="width:100%" (click)="onClickGet(img4.src)">
		<img #img5 src={{image5}} style="width:100%" (click)="onClickGet(img5.src)">
		<img #img6 src={{image6}} style="width:100%" (click)="onClickGet(img6.src)">
	</div>

	<div class="w3-third">
		<img #img7 src={{image7}} style="width:100%" (click)="onClickGet(img7.src)">
		<img #img8 src={{image8}} style="width:100%" (click)="onClickGet(img8.src)">
		<img #img9 src={{image9}} style="width:100%" (click)="onClickGet(img9.src)">
	</div>
</div>
