<!-- Photo grid -->
<div class="w3-row-padding w3-padding-48">
	<div class="w3-third">
		<img src="https://picsum.photos/1366/768?random=1" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/600/800?random=1" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/720/1024?random=1" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1080/1080?random=1" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1280/720?random=1" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/720/1280?random=1" style="width:100%" ng-click="selectImageFromList($event)">
	</div>

	<div class="w3-third">
		<img src="https://picsum.photos/720/1024?random=2" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1080/1080?random=2" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1366/768?random=2" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1280/720?random=2" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/720/1280?random=2" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/600/800?random=2" style="width:100%" ng-click="selectImageFromList($event)">
	</div>

	<div class="w3-third">
		<img src="https://picsum.photos/1080/1080?random=3" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1366/768?random=3" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/720/1280?random=3" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/600/800?random=3" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/720/1024?random=3" style="width:100%" ng-click="selectImageFromList($event)">
		<img src="https://picsum.photos/1280/720?random=3" style="width:100%" ng-click="selectImageFromList($event)">
	</div>
</div>
