<!-- Photo grid -->
<div class="w3-row-padding w3-padding-48">
	<div class="w3-third">
		<img #img0 src={{value0}} style="width:100%" (click)="onClickGet(img0.src)">
		<img #img1 src={{value1}} style="width:100%" (click)="onClickGet(img1.src)">
		<img #img2 src={{value2}} style="width:100%" (click)="onClickGet(img2.src)">
		<img #img3 src={{value3}} style="width:100%" (click)="onClickGet(img3.src)">
		<img #img4 src={{value4}} style="width:100%" (click)="onClickGet(img4.src)">
		<img #img5 src={{value5}} style="width:100%" (click)="onClickGet(img5.src)">
	</div>

	<div class="w3-third">
		<img #img6 src={{value6}} style="width:100%" (click)="onClickGet(img6.src)">
		<img #img7 src={{value7}} style="width:100%" (click)="onClickGet(img7.src)">
		<img #img8 src={{value8}} style="width:100%" (click)="onClickGet(img8.src)">
		<img #img9 src={{value9}} style="width:100%" (click)="onClickGet(img9.src)">
		<img #img10 src={{value10}} style="width:100%" (click)="onClickGet(img10.src)">
		<img #img11 src={{value11}} style="width:100%" (click)="onClickGet(img11.src)">
	</div>

	<div class="w3-third">
		<img #img12 src={{value12}} style="width:100%" (click)="onClickGet(img12.src)">
		<img #img13 src={{value13}} style="width:100%" (click)="onClickGet(img13.src)">
		<img #img14 src={{value14}} style="width:100%" (click)="onClickGet(img14.src)">
		<img #img15 src={{value15}} style="width:100%" (click)="onClickGet(img15.src)">
		<img #img16 src={{value16}} style="width:100%" (click)="onClickGet(img16.src)">
		<img #img17 src={{value17}} style="width:100%" (click)="onClickGet(img17.src)">
	</div>
</div>
