<!-- Login frame -->
<div class="w3-display-container w3-padding-16 w3-center">
  <h3>Login</h3>
</div>
<div class="w3-padding">
  <form (submit)="onLogin()">
    <input class="w3-input w3-border w3-round" type="text" placeholder="Username" [(ngModel)]="username" name="username">
    <input class="w3-input w3-border w3-round" type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <button class="w3-button w3-ripple w3-round-xxlarge w3-cell-row" type="submit">Login</button>
  </form>
</div>
