<!-- Decrypt frame -->
<div class="w3-panel w3-text-light-grey" id="encryptImg">
	<div class="w3-display-container w3-padding-16 w3-center">
		<h2>Decrypt text</h2>
	</div>
	<!-- Left side -->
	<div class="w3-row-padding">
		<div class="w3-third w3-padding">
			<div class="w3-padding w3-half">
				<button class="w3-button w3-gray w3-ripple w3-round-xxlarge w3-cell-row" type="file" name="uploadedImage">Browse...</button>
			</div>
			<div class="w3-padding-16 w3-half">
				<label>upload image</label>
			</div>
			<div class="w3-padding">
				<img class="w3-image" src="content/pictures/placeholder.jpg" alt="Placeholder">
			</div>
			<div class="w3-padding">
				<img class="w3-image" src="content/pictures/placeholder.jpg" alt="Placeholder">
			</div>
		</div>
		<!-- Right side -->
		<div class="w3-rest w3-padding">
			<div class="w3-third w3-padding">
				<input class="w3-input w3-border w3-round" type="password" placeholder="Decryption key">
			</div>
			<div class="w3-third w3-padding">
				<button class="w3-button w3-green w3-ripple w3-round-xxlarge w3-cell-row" (click)="onClickDecrypt()">Decrypt</button>
			</div>
			<div class="w3-padding">
				<textarea class="w3-input w3-border w3-round" placeholder="Decrypted text" rows="8"></textarea>
			</div>
		</div>
	</div>
</div>
