<!-- Password Manager frame -->
<div class="w3-display-container">
  <div *ngIf="user" class="w3-padding-large">
    <div class="w3-padding-16 w3-center">
      <h2>Password Manager</h2>
    </div>
    <div class="w3-padding-large">
      <h2>Welcome, {{user.name}}</h2>
      <div *ngIf="keyList.length>0">
        <p>A list of your Encryption Keys: </p>
        <ul>
          <li *ngFor="let item of keyList">
            <div class="w3-panel w3-border w3-round-xlarge">
              <div class="w3-panel">
                <p>KEY: {{ item }}</p>
                <div class="w3-center">
                  <button class="w3-button w3-light-gray w3-text-red w3-ripple w3-margin w3-round-xxlarge" (click)="onClickDelete(item)">Delete</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="keyList.length<1">
        <p>Save your Encryption Keys here!</p>
      </div>
    </div>
  </div>
</div>
