<!-- Register frame -->
<div class="w3-display-container w3-padding-16 w3-center">
  <h2>Register</h2>
</div>
<div class="w3-padding">
  <form (submit)="onRegister()">
    <input class="w3-input w3-border w3-round" type="text" placeholder="Name" [(ngModel)]="name" name="name">
    <input class="w3-input w3-border w3-round" type="text" placeholder="Username" [(ngModel)]="username" name="username">
    <input class="w3-input w3-border w3-round" type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <button class="w3-button w3-ripple w3-round-xxlarge w3-cell-row" type="submit">Register</button>
  </form>
</div>
