@font-face {

  font-family: "Quicksand";

  src: url("./Quicksand-Regular/Quicksand-Regular.ttf");

}

@font-face {

  font-family: "Quicksand-SemiBold";

  src: url("./Quicksand-SemiBold/Quicksand-SemiBold.ttf");

}
