<!-- Home frame -->
<div class="w3-display-container">
  <div class="w3-padding-16 w3-center">
    <h2>Steganographer</h2>
  </div>
  <div class="w3-container w3-padding-large">
    <div class="w3-panel w3-padding-large w3-border w3-round-xlarge">
      <h4>About:</h4>
      <p>Steganographer is a web application built using MEAN stack technologies. The
        main purpose of this web application is to provide a secure steganographic
        functionality, which is implemented by encoding and decoding of encrypted text
        payload within given image. The encryption of the payload is handled by
        Advanced Encryption Standard (AES) algorithm. Additionally, registered Users have
        an option to store their AES Encryption Keys in an online Password Manager.</p>
    </div>
    <div class="w3-panel w3-padding-large w3-border w3-round-xlarge">
      <h4>Third party content:</h4>
      <p>This application is utilising MongoDB Atlas cloud database for User data storage.</p>
    </div>
  </div>
</div>
