body,h2 {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #181818;
  font-size: 18px;
  color: white
}

.w3-image {
  outline-style: outset;
  outline-color: silver
}

.w3-row-padding img {
  margin-bottom: 20px;
  outline-style: outset;
  outline-color: silver
}
