  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bd-navbar">
    <a class="navbar-brand" href="/home">Steganographer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pt-1">
        <li class="nav-item">
          <a class="nav-link" href="/encryption">Encrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/decryption">Decrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/selection">Image selection</a>
        </li>
        <li class="nav-item">
          <a *ngIf="apiService.loggedIn()" class="nav-link" href="/passwordManager">Password manager</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0 pt-1">
        <li class="nav-item">
          <a *ngIf="!apiService.loggedIn()" class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!apiService.loggedIn()" class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="apiService.loggedIn()" (click)="onLogoutClick()" class="nav-link" href="/register">Logout</a>
        </li>
      </ul>
    </div>
</nav>
