.bd-navbar {
  background-color: #b5b5b5;
  border-bottom: 3px solid #080808;
  min-height: 77px;
}

.bd-navbar{
  font-size: 18px;
}

.bd-navbar .navbar-brand {
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 21px;
}

.bd-navbar .navbar-collapse .navbar-nav > li > a {
    color: #000000;
}

.bd-navbar .navbar-collapse .navbar-nav > li > a:hover,
.bd-navbar .navbar-collapse .navbar-nav > li > a:focus {
    color: #676767;
}
